$yellow: #fbdf00;
$black: #181716;
$white: #dfd9d9;

@keyframes shadow-drop-2-center {
	0% {
		transform: translateZ(0);
		transform: scale(1);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
	100% {
		transform: translateZ(50px);
		transform: scale(1.1);
		box-shadow: 0 0 10px 0px $yellow;
	}
}

.App {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #121211;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23413b0e' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%236f640a' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%239e8d07' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23ccb603' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23fbdf00' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
	height: 100vh;
	font-family: "Montserrat", sans-serif;
}

.copyright {
	color: $black;
	// margin: 3rem 1rem 0rem 1rem;

	.copy-link {
		text-decoration: none;
		position: relative;
		color: $black;
		font-weight: bold;

		&:before {
			content: "";
			position: absolute;
			width: 100%;
			height: 0px;
			background-color: $black;
			filter: opacity(0.5);
			bottom: 0px;
			transition: all ease-in-out 0.2s;
		}

		&:hover {
			&:before {
				height: 8px;
			}
		}
	}
}

.pl {
	color: $white;
	margin: 1.5rem auto;
	font-weight: bold;
}

.route {
	width: 95vw;
	max-width: 950px;
	// min-width: 920px;

	height: 82.5vh;
	border-radius: 15px;
	-webkit-box-shadow: 0px 4px 11px -4px $black;
	-moz-box-shadow: 0px 4px 11px -4px $black;
	box-shadow: 0px 4px 11px -4px $black;
}

.home {
	display: grid;
	grid-template-columns: 1fr 15fr;
}

.shop {
	display: grid;
	grid-template-columns: 1fr 15fr;
}

.side-bar {
	background-color: $black;
	border-radius: 15px 0px 0px 15px;
	border-right: 3px solid #000;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	.grid {
		width: 102%;
		height: 2.5rem;
		padding: 0.8rem 0rem;
		padding-top: 1rem;
		cursor: pointer;
		transition: 0.2s;
		color: $yellow;
		background-color: #000;
		border-radius: 15px 0px 0px 0px;
	}

	.socials {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		padding: 1rem;
		gap: 1rem;

		.link {
			border-radius: 50%;
			background-color: $yellow;
			display: grid;
			place-items: center;
			width: fit-content;

			&:hover {
				animation: shadow-drop-2-center 0.4s
					cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
			}

			.ic {
				color: $black;
				padding: 0.3rem;
			}
		}
	}
}

.main {
	background-color: $black;
	border-radius: 0px 15px 15px 0px;
	position: relative;
	overflow: hidden;
	overflow: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
	max-width: 950px;

	&::-webkit-scrollbar {
		display: none;
	}

	.back {
		pointer-events: none;
		position: absolute;
		bottom: 20%;
		left: 7%;
		z-index: 1;
		font-size: 18rem;
		height: fit-content;
		letter-spacing: 5px;
		font-weight: 600;
		color: $black;
		-webkit-text-fill-color: $black; /* Will override color (regardless of order) */
		-webkit-text-stroke-width: 2px;
		-webkit-text-stroke-color: $white;
		text-shadow: -2px -2px 0 $white, 2px -2px 0 $white, -2px 2px 0 $white,
			2px 2px 0 $white;
		opacity: 0.03;
	}
}

.menu-bar {
	display: flex;
	justify-content: space-between;
	padding: 1rem;
	z-index: 5;

	.menu-right {
		display: flex;
		justify-content: space-around;
		width: 10rem;

		.nav {
			color: $white;
			text-decoration: none;
			position: relative;

			&:before {
				content: "";
				position: absolute;
				width: 0%;
				height: 2px;
				background-color: $yellow;
				bottom: 0px;
				transition: all ease-in-out 0.2s;
			}

			&:hover {
				&:before {
					width: 102%;
				}
			}
		}
	}

	.menu-left {
		display: flex;
		justify-content: center;
		img {
			width: 50px;
			height: 20px;
			filter: contrast(0.01);
			margin: 0 1rem;
		}

		.search {
			color: $white;
			cursor: pointer;
			transition: 0.2s;
			margin: 0 0.5rem;

			&:hover {
				color: $yellow;
			}
		}
	}
}

.contents {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 5;
	width: inherit;
	height: inherit;
	max-width: 870px;
	gap: 2rem;

	.content {
		width: 90%;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
		padding-top: 5rem;
	}
	.top {
		z-index: 5;
	}

	.bottom {
		z-index: 5;
		position: relative;
	}
	.vid-mob {
		position: relative;
	}
}

.heading {
	height: fit-content;
	text-align: left;
	margin-top: -2rem;
	z-index: 5;

	.heading-top {
		color: $yellow;
		letter-spacing: 0.5rem;
		font-weight: 700;
		margin-bottom: 0.6rem;
	}

	.heading-mid {
		font-size: 2rem;
		font-weight: 700;
		color: $white;
		margin-bottom: 0.6rem;
		width: max-content;
		max-width: 340px;
	}

	.heading-bottom {
		color: $white;
		font-size: 0.8rem;
		line-height: 1.2rem;
		width: 85%;
	}
}

.sneaker {
	width: fit-content;
	height: fit-content;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	img {
		width: 27rem;
		transform: rotate(-30deg);
		margin-left: -5rem;
		margin-bottom: 1rem;
		height: 13rem;
		z-index: 5;
		// position: absolute;
		// left: -5rem;
		// height: 2rem;
	}

	.sneaker-dir {
		margin: 0rem 0rem 0rem 10rem;

		.arr {
			color: $black;
			border-radius: 50%;
			background-color: $yellow;
			padding: 0.3rem;
			width: 1.1rem;
			height: 1.1rem;
			text-align: center;
			margin: 0.7rem 0.7rem 0rem 0rem;
			cursor: pointer;

			&:hover {
				background-color: $white;
			}
		}
	}
}

.pic {
	position: relative;
	img {
		width: 10.5rem;
		border-radius: 15px;
		position: absolute;
		top: -12.5rem;
		left: 0rem;
	}

	.video-button {
		position: absolute;
		top: -6.7rem;
		left: 3.3rem;
		width: 2rem;
		height: 2rem;
		color: $yellow;
		border-radius: 50%;
		border: 0.3rem solid rgba(251, 223, 0, 0.5);
		-webkit-background-clip: padding-box; /* for Safari */
		background-clip: padding-box;
		padding: 0.5rem;
	}
}

.testimonial {
	position: absolute;
	top: 3rem;
	left: 27rem;
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	text-align: left;
	width: fit-content;

	.testimonial-head {
		color: $yellow;
		letter-spacing: 0.2rem;
		font-weight: 600;
		font-size: 0.8rem;
	}

	.testimonial-body {
		color: $white;
		font-size: 0.8rem;
		width: 23rem;
		margin: 0.4rem 0;
		line-height: 1.2rem;
	}

	.testimonial-dir {
		width: fit-content;
		height: fit-content;
		display: flex;
		gap: 0.5rem;
		margin-bottom: 1rem;

		.dot {
			background-color: $white;
			width: 0.5rem;
			height: 0.5rem;
			border-radius: 50%;
			cursor: pointer;

			&:hover {
				background-color: $yellow;
			}
		}

		.current {
			// border: 2px solid rgba(251, 223, 0, 0.5);
			background-color: $yellow;
		}
	}
}

.mobile {
	position: absolute;
	top: -3rem;
	left: 11rem;
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	text-align: left;

	.mobile-head {
		color: $yellow;
		letter-spacing: 0.2rem;
		font-weight: 600;
		font-size: 0.8rem;
	}

	.mobile-body {
		color: $white;
		font-size: 0.8rem;
		width: 13rem;
		margin: 0.4rem 0;
		line-height: 1.2rem;
	}
}

.p-button {
	border-radius: 5px;
	background-color: $yellow;
	width: fit-content;
	display: flex;
	padding: 0.1rem 0.3rem;
	align-items: center;
	gap: 0.3rem;
	cursor: pointer;

	.p-logo {
		margin-right: 0.1rem;
	}

	.p-words {
		width: fit-content;
		height: fit-content;
		margin: 0 0.1rem;

		.p-top {
			font-size: 0.7rem;
			margin: 0;
		}

		.p-bottom {
			font-weight: 600;
			margin: 0;
		}
	}
}

.main2 {
	background-color: $black;
	border-radius: 0px 15px 15px 0px;
	position: relative;
	overflow: scroll;
	// overflow-y: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
	max-width: 950px;

	&::-webkit-scrollbar {
		display: none;
	}

	.shop-back {
		width: 0;
		height: 0;
		border-top: 63rem solid $yellow;
		border-right: 98rem solid transparent;
		pointer-events: none;
		margin-top: -54rem;
		z-index: -1;
	}
}

.shop-bar {
	display: flex;
	justify-content: space-between;
	padding: 1rem;
	background-color: $yellow;
	z-index: 5;

	.shop-right {
		display: flex;
		justify-content: space-around;
		width: 10rem;

		.nav {
			color: $black;
			text-decoration: none;
			position: relative;
			padding: 0.2rem;

			&:before {
				content: "";
				position: absolute;
				width: 100%;
				height: 0%;
				background-color: $black;
				opacity: 0.3;
				bottom: 0px;
				left: 0;
				transition: all ease-in-out 0.2s;
			}

			&:hover {
				&:before {
					height: 100%;
				}
			}
		}
	}

	.shop-left {
		img {
			width: 50px;
			height: 20px;
			margin: 0 1rem;
		}

		.search {
			color: $black;
			cursor: pointer;
			margin: 0 0.5rem;
		}
	}
}

.shop-contents {
	z-index: 5;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	width: 90%;
	max-width: 870px;
	margin: 0 auto;
	max-height: 800px;

	.shop-left {
		display: grid;
		grid-template-rows: 2fr 1fr;
		height: min-content;
		max-height: inherit;

		.lite {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
			height: fit-content;
			margin-left: -1.5rem;
		}
	}
	.shop-right {
	}
}

.heading2 {
	display: flex;
	flex-direction: column;
	text-align: left;
	height: min-content;
	margin: 5rem 0;
	line-height: 3.9rem;

	.first {
		font-size: 2rem;
		font-weight: 500;
		position: relative;

		&:before {
			content: "";
			position: absolute;
			height: 3px;
			width: 55%;
			max-width: 200px;
			background-color: $black;
			bottom: 1.1rem;
			left: 7rem;
		}
	}
	.second {
		font-size: 7rem;
		font-weight: 700;
	}
	.third {
		font-size: 2rem;
		font-weight: 700;
	}
	button {
		font-family: inherit;
		font-size: 1.5rem;
		font-weight: 700;
		background-color: none;
		background: none;
		outline: 0;
		border: 3px solid $black;
		width: fit-content;
		height: fit-content;
		padding: 0.4rem 1rem;
		cursor: pointer;

		&:hover {
			background-color: $black;
			color: $yellow;
			transition: all ease-in 0.1s;
		}
	}
}

.shop-sneakers {
	gap: 3rem;
	margin: 3rem 0;

	img {
		width: 25rem;
	}

	.dir {
		display: flex;
		align-items: center;
		justify-content: space-between;
		text-align: center;
		height: fit-content;
		margin: 1.5rem 0;

		.arr {
			color: $yellow;
			padding: 0.3rem;
			width: 2rem;
			height: 2rem;
			text-align: center;
			cursor: pointer;

			&:hover {
				color: $white;
			}
		}
		.dots {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			gap: 0.5rem;

			.dot {
				background-color: $white;
				width: 0.5rem;
				height: 0.5rem;
				border-radius: 50%;
				cursor: pointer;

				&:hover {
					background-color: $yellow;
				}
			}
		}
	}
}

.shop-lite {
	display: grid;
	grid-template-columns: 1fr 3fr;
	gap: 0.5rem;
	height: fit-content;

	img {
		width: 6rem;
		transform: rotate(-30deg);
	}

	.rest {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		text-align: left;

		h2,
		h3 {
			font-size: 0.8rem;
			color: $black;
			margin: 0;
			width: fit-content;
			display: inline;
		}
		h4 {
			font-size: 0.6rem;
			color: $black;
			margin: 0;
		}
		p {
			text-align: left;
			font-size: 0.5rem;
			color: $black;
			margin: 0;
		}
	}
}

@media only screen and (max-width: 960px) {
}

@media only screen and (max-width: 960px) {
	.contents {
		gap: 10rem;

		.top {
			gap: 5rem;

			.heading {
				.heading-mid {
					width: 90%;
				}

				.heading-bottom {
					width: 85%;
				}
			}

			.sneaker {
				img {
					width: 20rem;
					height: 10rem;
					margin-left: -1rem;
				}
			}
		}
	}
}
